@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Consolas,
    "Liberation Mono", Menlo, monospace;

  --color-brpink-50: #fee5e7;
  --color-brpink-100: #f05069;
  --color-brpink-200: #f05069;
  --color-brpink-300: #f14e69;
  --color-brpink-400: #f14e69;
  --color-brpink-500: #cc122d;
  --color-brpink-600: #b30e27;

  --color-brgreen-50: #f3faf7;
  --color-brgreen-100: #aee1d1;
  --color-brgreen-200: #7dcbb6;
  --color-brgreen-300: #52af99;
  --color-brgreen-400: #3d917e;
  --color-brgreen-500: #2b7667;
  --color-brgreen-600: #1b6052;

  --color-brgray-50: #e1e1e2;
  --color-brgray-100: #878789;
  --color-brgray-200: #616162;
  --color-brgray-300: #414142;
  --color-brgray-400: #323232;
  --color-brgray-500: #212121;
  --color-brgray-600: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-15px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-brgray-200) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-brgray-200);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-brgray-300);
}
